@mixin backImage(
		$image,
		$grDir: to bottom,
		$opStart: 0,
		$opEnd: 0,
		$bgPos: center center
		//$bgAttachment: scroll 
	) {
	background: linear-gradient(
		$grDir,
		rgba(0,0,0, $opStart),
		rgba(0,0,0, $opEnd)
	), url($image);
	background-repeat: no-repeat; 
	background-position: $bgPos;
	-webkit-background-size: cover; 
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	//background-attachment: $bgAttachment;
} //mixin backImage


@mixin backImageFixed($image) {
	background: url($image) no-repeat center center fixed; 
	-webkit-background-size: cover ; 
	-moz-background-size: cover ;
	-o-background-size: cover ;
	background-size: cover ;  
 
} //mixin backImageFixed


@mixin clearfix {
	&:before,
	&:after {
		content: '';
		display: table;
	} //before & after
	&:after {
		clear: both;
	} //after
} //mixin clearfix