#welcome {	
	//@include background-image(linear-gradient(top, lighten($dark, 10), lighten($dark, 5))); 


	padding:0;
	
	.parallax {

		@include backImage('../images/background/amsterdam1.jpg', to bottom, 100,0, center center); 
		
	}

	article {
		text-align: center;
		@include container(90%);
		padding-top:15px;
		@include breakpoint($small) {
			@include container(70%); 
			padding:60px 0;
		} //if get bigger from $small
	} //article

	h2 {
		font-weight: normal;
		line-height: 100%;
		color: darken($light, 20);
		padding: 10px 0;
	} //h1
	#welcome-image {  
		line-height:0; 
		text-align: center;
		img { 
			padding:50px 0 0 0;
			max-width:430px;
			width:100%;
		}
	}
	
	
} //welcome 